language: ruby
cache: bundler
bundler_args: --without production
script: bundle exec rspec spec
rvm:
  - 2.2.0
env:
  - "RAILS_VERSION=4.2.0"
  - "RAILS_VERSION=master
matrix:
  allow_failures:
    - env: "RAILS_VERSION=master"
addons:
  code_climate:
    repo_token: 8f19b7947c656e0951930219612f2a7ed660e24f074cc3996c2461932b857b04